* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    height: 100%;
}

.experience
{
    position: fixed;
    top: 0;
    width: 100vw;
    height: calc(100vh - calc(100vh - 100%));
    z-index: 1;
}

#react-content {
    height: calc(100vh - calc(100vh - 100%));
}

#react-content .overlay {
    z-index: 2;
}

body .tp-dfwv {
    z-index: 3;
    width: 400px;
}

.picross-menu .inner {
    transition: all .5s ease-in-out;
}

i.fas::before {
    vertical-align: middle;
    align: center;
}